@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,800")

* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-image: url("images/portland.jpg");
    background-repeat: no-repeat;
    color: white;
    background-color: #d1d3d3;
    font-family: 'Raleway', sans-serif;
    line-height: 190%;
}
/* styling navigation and main titles */
nav {
    width: 100%;
    height: auto;
}
nav ul a li{
    text-decoration: none;
    display: inline;
    color: white;
    font-size: 90%;
    opacity: .8;
    padding-right: 5%;
}
.main-titles {
    padding: 10%;
    border: 5px solid gold;
}
h1 {
    font-size: 550%;
    text-align: center;
    font-weight: 200;
    text-shadow: 4px 4px black;
}
h4  {
    font-size: 250%;
    text-align: center;
    font-weight: 200;
    text-shadow: 4px 4px black;
}
/* styling about us section */
h2  {
    font-size: 300%;
    font-weight: 200;
    color: #190a0a;
    text-align: center;
    margin-top: 15%;
}
.about-us p {
    width: 90%;
    font-size: 125%;
    font-weight: 200;
    color: #190a0a;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.recent-reviews {
    width: 100%;
}
.one-third1 {
    width: 31%;
    display: inline-block;
    float: left;
    margin-left: 5%;
    margin-right: -4%;
}
.one-third1 img {
    width: 80%;
    height: 300px;
    margin-top: 5%;
    box-shadow: 5px 5px 3px #888888;
    margin-bottom: 5%;
}
h5  {
    font-size: 125%;
    font-weight: 200;
    color: #190a0a;
    text-align: center;
    margin-top: 5%;
}
/* styling the presenting section */
.presenting {
    width: 100%;
    margin-top: 8%;
}
.presenting article {
    width: 75%;
    display: inline-block;
}
.presenting aside {
    width: 22%;
    display: inline-block;
    margin-top: 5%;
}
.presenting-img .Cristina {
    width: 60%;
    display: inline-block;
    box-shadow: 5px 5px 3px #888888;
    margin-bottom: -7%;
}
.presenting-text {
    font-size: 125%;
    font-weight: 200;
    color: #190a0a;
    margin-left: 5%;
    margin-right: 5%;
}
.presenting-text2 {
    font-size: 125%;
    font-weight: 200;
    color: #190a0a;
    width: 90%;
    margin-left: 3.7%;
    margin-bottom: 5%;
}
  /* styling candy and wrapping pictures */
.candy-img, .wrap-img, .choc-img {
    width: 22%;
    display: inline-block;
}
.candy-img img, .wrap-img img, .choc-img img {
    width: 95%;
    height: 250px;
    box-shadow: 5px 5px 3px #888888;
    margin-left: 28%;
}
.candy-img, .wrap-img {
    margin-top: 4%;
}
.desc p {
    font-size: 125%;
    font-weight: 200;
    color: #190a0a;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
/* styling find them section */
h3  {
    font-size: 175%;
    color: #190a0a;
    text-align: left;
    margin-top: 7%;
    margin-left: 12%;
}
.contact-them {
    width: 45%;
    height: 400px;
    display: inline-block;
}
.contact-them img {
    width: 94%;
    height: 400px;
    box-shadow: 5px 5px 3px #888888;
    margin-left: 27%;
}
.contact-info {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    margin-left: 33%;
}
.contact-info p {
    font-size: 125%;
    color: #190a0a;

}
.contact-info a {
    text-decoration: none;
}
/* styling how to find us section */
#contact-us {
    width: 100%;
    text-align: center;
}
h5  {
    margin-left: 5%;
}
.contact-us i {
    font-size: 300%;
    color: #190a0a;
    display: inline;
    padding-left: 5%;
}
.contact-us a {
    text-decoration: none;
}
.contact-us i:hover {
    color: #58c4c0;
}
/* back to top arrow */
.arrow {
      width: 100%;
}
.arrow i {
      font-size: 300%;
      color: black;
      opacity: .5;
      float: right;
      margin-right: 5%;
      border: 5px solid gray;
      border-radius: 15px;
}
.arrow i:hover {
      color: #11b0d8;
}
/* footer styling */
footer {
      width: 100%;
      height: auto;
      background-color: gray;
      margin-top: 8%;
}
footer p  {
      color: black;
      text-align: center;
      opacity: .5;
      line-height: 150%;
      padding-top: 2%;
      padding-bottom: 3%;
}


@media screen and (max-width: 780px) {
  .main-titles {
      margin-top: 15%;
  }
  h1  {
      font-size: 400%;
  }
  .about-us h2  {
      margin-top: 25%;
  }
  .recent-reviews h5 {
      font-size: 110%;
      margin-bottom: -1%;
  }
  .one-third1 {
      width: 48%;
  }
  .one-third1 img {
      width: 90%;
      margin-right: 4%;
      margin-left: -2%;
      height: 200px;
  }
  .presenting {
      margin-top: -5%;
  }
  .presenting h2 {
      font-size: 250%;
  }
  .presenting article {
      width: 60%; {
  }
  .presenting aside {
      width: 30%;
  }
  .presenting-img .Cristina {
      width: 100%;
      height: auto;
  }
  .choc-img, .candy-img, .wrap-img {
      width: 50%;
  }
  .choc-img img, .candy-img img .wrap-img img {
      width: 90%;
      height: 225px;
      margin: none;
  }
  .contact-us i {
      font-size: 200%;
      margin: none;
  }
}


@media screen and (max-width: 400px) {

  h1  {
      font-size: 400%;
      line-height: 150%;
  }
  h4  {
      font-size: 175%;
  }
  .main-titles {
      margin-bottom: 20%;
  }
  .about-us h2 {
      font-size: 250%;
      margin-top: 45%;
  }
  .one-third1 {
      width: 100%;
  }
  .one-third1 img {
      width: 94%;
      height: 250px;
  }
  .presenting h2 {
      font-size: 200%;
  }
  .presenting article {
      width: 100%;
  }
  .presenting aside  {
      width: 100%;
  }
  aside .presenting-img .Cristina {
      width: 75%;
      height: 350px;
      margin-left: 12%;
      margin-bottom: 5%;
  }
  .presenting .choc-img, .presenting .candy-img, .presenting .wrap-img {
      width: 100%;
  }
  .choc-img img, .candy-img img, .wrap-img img {
      width: 100%;
      margin-left: -.5%;
      margin-top: 2%;
  }
  h3  {
      font-weight: 200;
      text-align: center;
      margin-top: 5%;
      margin-left: -1%;
  }
  .contact-them {
      width: 100%;
  }
  .contact-them img {
      width: 100%;
      margin-left: -.5%;
  }
  .contact-info {
      width: 100%;
      margin-left: 2%;
      margin-bottom: -10%;
  }
  #contact-us {
      width: 100%;
  }
 h5 {
      margin-top: -8%;
      margin-left: -1%;
  }
  .contact-us i {
      margin-left: -4%;
  }
  .arrow i {
      display: none;
  }
  .footer {
      width: 100%;
      height: 200px;
      margin: none;
  }
}
