@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,800")

* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-image: url("images/portland.jpg");
    background-repeat: no-repeat;
    color: white;
    background-color: #d1d3d3;
    font-family: 'Raleway', sans-serif;
    line-height: 190%;
}
/* styling navigation and main titles */
nav {
    width: 100%;
    height: auto;
}
nav ul a li{
    text-decoration: none;
    display: inline;
    color: white;
    font-size: 90%;
    opacity: .8;
    padding-right: 5%;
}
.main-titles {
    padding: 10%;
    border: 5px solid gold;
}
h1 {
    font-size: 550%;
    text-align: center;
    font-weight: 200;
    text-shadow: 4px 4px black;
}
h4  {
    font-size: 250%;
    text-align: center;
    font-weight: 200;
    text-shadow: 4px 4px black;
}
/* styling about us section */
h2  {
    font-size: 300%;
    font-weight: 200;
    color: #190a0a;
    text-align: center;
    margin-top: 12%;
}
.about-us p {
    width: 90%;
    font-size: 125%;
    font-weight: 200;
    color: #190a0a;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.recent-reviews {
    width: 100%;
}
.one-fourth1 {
    width: 22%;
    display: inline-block;
    float: left;
    margin-left: 2.5%;
    margin-bottom: 10%;
}
.one-fourth1 img {
    width: 100%;
    height: 300px;
    margin-top: 5%;
    box-shadow: 5px 5px 3px #888888;
}
h5  {
    font-size: 125%;
    font-weight: 200;
    color: #190a0a;
    text-align: center;
    margin-top: 5%;
}
/* styling the presenting section */

.presenting {
    width: 100%;
    margin-top: 8%;
}
.present-img  {
    width: 23%;
    float: right;
}
.present-img img {
    width: 80%;
    height: 350px;
    box-shadow: 5px 5px 3px #888888;
}
article .present-text {
    width: 70%;
    font-size: 125%;
    font-weight: 200;
    color: #190a0a;
    margin-left: 5%;
    margin-bottom: 5%;
}
  /* styling candy and wrapping pictures */
.candy-img, .wrap-img, .choc-img {
    width: 22%;
    display: inline-block;
    margin-top: 3%;
}
.candy-img img, .wrap-img img, .choc-img img {
    width: 95%;
    height: 250px;
    box-shadow: 5px 5px 3px #888888;
    margin-left: 28%;
}
.candy-img, .wrap-img {
    margin-top: 4%;
}
.desc p {
    font-size: 125%;
    font-weight: 200;
    color: #190a0a;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
/* styling find them section */
h3  {
    font-size: 175%;
    font-weight: 200;
    color: #190a0a;
    text-align: left;
    margin-top: 7%;
    margin-left: 12%;
}
.contact-them {
    width: 45%;
    height: 400px;
    display: inline-block;
}
.contact-them img {
    width: 94%;
    height: 400px;
    box-shadow: 5px 5px 3px #888888;
    margin-left: 27%;
}
.contact-info {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    margin-left: 33%;
}
.contact-info p {
    font-size: 125%;
    color: #190a0a;

}
.contact-info a {
    text-decoration: none;
}
/* styling how to find us section */
#contact-us {
    width: 100%;
    text-align: center;
}
h5  {
    margin-left: 5%;
}
.contact-us i {
    font-size: 300%;
    color: #190a0a;
    display: inline;
    padding-left: 5%;
}
.contact-us a {
    text-decoration: none;
}
.contact-us i:hover {
    color: #58c4c0;
}
/* back to top arrow */
.arrow {
      width: 100%;
}
.arrow i {
      font-size: 300%;
      color: black;
      opacity: .5;
      float: right;
      margin-right: 5%;
      border: 5px solid gray;
      border-radius: 15px;
}
.arrow i:hover {
      color: #11b0d8;
}
/* footer styling */
footer {
      width: 100%;
      height: auto;
      background-color: gray;
      margin-top: 8%;
}
footer p  {
      color: black;
      text-align: center;
      opacity: .4;
      line-height: 150%;
      padding-top: 2%;
      padding-bottom: 3%;
}

@media screen and (max-width: 780px) {
  .main-titles {
      margin-top: 15%;
  }
  h1  {
      font-size: 400%;
      line-height: 150%;
  }
  h4  {
      font-size: 175%;
  }
  .about-us h2 {
      font-size: 225%;
  }
  .one-fourth1 {
      width: 46%;
  }
  .one-fourth1 img {
      width: 100%;
      margin-left: 2%;
  }
  .present-img img{
      height: 210px;
      margin-left: -3%;
      margin-top: 5%;
  }
  article .present-text {
      width: 90%;
  }
  .candy-img, .wrap-img, .choc-img {
      width: 46%;
  }
  .candy-img img, .wrap-img img, .choc-img img {
      width: 90%;
      margin-left: 12%;
  }
  .contact-them {
      width: 46%;
  }
  .contact-them img {
      width: 95%;
      margin-left: 15%;
  }
  .contact-info {
      width: 90%;
      margin-left: 20%;
  }
}


@media screen and (max-width: 400px) {
  nav ul li {
      margin-left: -5%;
      margin-right: 5%;
      margin-top: 5%;
  }
  .main-titles {
      margin-bottom: 30%;
  }
  .one-fourth1 {
      width: 100%;
  }
  .one-fourth1 img {
      width: 90%;
  }
  .presenting h2 {
      font-size: 200%;
  }
  .present-img {
      width: 100%
  }
  .present-img img {
      width: 80%;
      height: 350px;
      margin-left: 8%;
      margin-bottom: 3%;
  }
  article .present-text {
      width: 90%;
  }
  .candy-img, .wrap-img, .choc-img {
      width: 100%;
  }
  .candy-img img, .wrap-img img, .choc-img img {
      width: 90%;
      margin-left: 5%;
  }
  .contact-them {
      width: 100%;
  }
  .contact-them img {
      width: 90%;
      margin-left: 5%;
  }
  .contact-info {
      width: 90%;
      margin-left: 8%;
  }
  .arrow i {
      display: none;
  }
